<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <message>message</message>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
      <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
        <pattern>{"dd.trace_id":"%X{dd.trace_id:-}","dd.span_id":"%X{dd.span_id:-}"}</pattern>
      </provider>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT_JSON" />
  </root>
</configuration>
